.input {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300;
}